<h2>Continue as type of user:</h2>

<form action='/' method='post'>
  <input type="radio" name='user_type' id='hr' value='hr'>HR<br>
  <input type="radio" name='user_type' id='project_manager' value='project_manager'>Project Manager
  <br />
  <button type='submit'>Continue</button>
</form>


<% if session[:user_type] == 'hr' %>
  You are currently logged in as a member of the HR group.
  <br /><br />
    <a href="/divisions">Divisions</a>

<% elsif session[:user_type] == 'project_manager' %>
  You are currently logged in as a member of the Project Manager group.
    <br /><br />
      <a href="/projects">Projects</a>
<% end %>
  <br />
  <a href="/employees">Employees</a>
